header {
  background-color: #212529;
  color: white;
}

.container-input-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.container-input-search h1 {
  margin: 20px 0;
}

